.image-grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(50px, auto);
}

.image-item:nth-child(5n) {
    grid-column-end: span 2;
}

img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.single-photo {
    max-width: 300px;
    align-self: auto;
    margin: 1% 2px;
    flex-grow: 1;
    vertical-align: middle;
}



@media (max-width: 600px) {
    .single-photo {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 900px) and (min-width: 600px) {
    .image-grid {
        margin-left: 50px;
    }
}